#configuracion de cada entorno
.env
#directorios utilizados para librerias
/vendor
/node_modules
Homestead.yaml
Homestead.json
#directorios utilizados por bower y gulp para compilar las dependencias del frontend
/public/build
/public/assets
/public/assets/js
#carpetas especificas de la IDE
/.idea