<div class="vista-previa" data-bind="visible: !editando">
    <button type="button" class="btn btn-default btn-lg">
        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
    </button>
    <div class="documento" data-bind="html:contenido"><!-- ko template: { nodes: $componentTemplateNodes} --><!-- /ko --></div>
</div>
<textarea class="editor" data-bind="visible: editando" data-bind="textarea:contenido">
    <!-- ko template: { nodes: $componentTemplateNodes } --><!-- /ko -->
</textarea>